</div>
<div class="col-lg-3">
  <div class="card mt-3" style="text-align: center">
    <div class="card-body">
      <h5 class="card-title">Marek Schwarz</h5>
      <p class="card-text">Jsem web developer, věnuji se JavaScriptu a Node.js.</p>
      <p class="card-text">
        <a href="https://www.github.com/marvoqs" target=”_blank” class="fab fa-github social-media-icon text-dark"></a>
        <a href="https://www.linkedin.com/in/marekschwarz" target=”_blank”
          class="fab fa-linkedin-in social-media-icon text-dark"></a>
        <a href="https://twitter.com/marvoqs" target=”_blank” class="fab fa-twitter social-media-icon text-dark"></a>
        <a href="https://www.facebook.com/marvoqs" target=”_blank”
          class="fab fa-facebook-f social-media-icon text-dark"></a>
        <a href="mailto:marvoqs@gmail.com" class="fas fa-envelope social-media-icon text-dark"></a>
      </p>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-header bg-light">Nejčtenější příspěvky</div>
    <div class="card-body">
      <h5 class="card-title">Light card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-header bg-light">Poslední příspěvky</div>
    <div class="card-body">
      <h5 class="card-title">Light card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>

</div>
</div>
</div>
</body>

</html>