.social-media-icon {
  text-decoration: none;
  margin: 0 5px;
  font-size: 1.5rem;
}

.social-media-icon:hover {
  text-decoration: none;
  color: #ccc !important;
}

.img-profile {
  width: 60%;
}

.link-heading {
  color: inherit;
}

.link-heading:hover {
  color: inherit;
  text-decoration: none;
}