<%- include("./../partials/header"); %>
<h2>Registrace</h2>

<!-- Makes POST request to /login route -->
<form action="/users/register" method="POST">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" name="username" />
  </div>
  <div class="form-group">
    <label for="password">Heslo</label>
    <input type="password" class="form-control" name="password" />
  </div>
  <button type="submit" class="btn btn-dark">Registrovat</button>
</form>

<%- include("./../partials/footer"); %>
