<%- include("./../partials/header"); %>
<h1>Nový článek</h1>
<form action="/posts" method="post">
  <%- include('_form_fields') %>
  <button type="submit" class="btn btn-primary mb-3">Vložit článek</button>
</form>
<a href="#" onclick="window.history.back()">Vrátit se zpět</a>
<%- include("./../partials/footer"); %>